@use '../../assets/styles/theme';

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 1.6rem;
    border-radius: 1.6rem;

    @media screen and (min-width: theme.$screen-order) {
        flex-direction: row;
    }

    @media screen and (min-width: theme.$screen-sm) {
        padding: 2.4rem;
    }

    &__icon {
        flex: 0 0 4.8rem;
        width: 4.8rem;
        height: 4.8rem;
        margin-bottom: 1.5rem;

        @media screen and (min-width: theme.$screen-order) {
            margin-bottom: 0;
            margin-right: 2rem;
        }
    }

    &__summary {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 4.5rem;
    }

    &__plan {
        font-size: 1.4rem;
        font-weight: 900;
        margin: 0;
        color: theme.$color-dark-gray;
        margin-bottom: 0.6rem;

        @media screen and (min-width: theme.$screen-sm) {
            font-size: 1.6rem;
        }
    }

    &__price {
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 0.02rem;
        margin: 0;
        color: theme.$color-gray;

        @media screen and (min-width: theme.$screen-sm) {
            font-size: 1.6rem;
        }
    }

    &__action {
        flex: 0 0 auto;
        margin-top: 1.5rem;

        @media screen and (min-width: theme.$screen-order) {
            margin-top: 0;
            margin-left: auto;
        }
    }

    &__changeLink {
        font-size: 1.3rem;
        font-weight: 700;
        text-decoration: underline;
        color: theme.$color-bright-blue;
        cursor: pointer;
        transition-property: opacity;
        transition-duration: 300ms;

        &:hover {
            opacity: 80%;
            text-decoration: none;
        }

        @media screen and (min-width: theme.$screen-sm) {
            font-size: 1.4rem;
        }
    }
}