@use '../../assets/styles/theme';

.page {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 10rem 2.5rem;
    background-color: theme.$color-pale-blue;
    background-image: url(/src/assets/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: top;

    @media screen and (min-width: theme.$screen-sm) {
        background-image: url(/src/assets/images/pattern-background-desktop.svg);
    }

    &__card {
        width: 100%;
        height: auto;

        @media screen and (min-width: theme.$screen-sm) {
            width: 54rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
